ul
    block main-nav-elements
        li
            a(href="/rule")
                ="[Rules]"

        li
            a(href="/notification")
                ="[Notification]"
        li
            a(href="#", id="trigger-create-modal")
                ="[Add-Rule]"
