extends page-layout
block body
    article
        ul
            each model in locals.models
                li
                    p
                        a(href=model.url)
                            =model.title
                    p
                        a(href="http://www.reddit.com/r/" + model.subreddit)
                            ='r/' + model.subreddit
                    
                    if model.over_18
                        p= "NSFW"
                    else
                        p= "SFW"
                    form(method="POST", action="/notification/" + model._id.toString())
                        input(type="hidden", name="_method", value="DELETE")
                        button(type="Submit")
                           ="Delete"
                    form(method="POST", action="/notification/" + model._id.toString())
                        input(type="hidden", name="_method", value="PUT")
                        button(type="Submit")
                            ="Acknowledge"

