block doctype
    !!!
html(lang="en")
    block head
        head
            block head-title
                title= "Hi!"
            block head-meta
            block head-css
                link(rel="stylesheet", href="/static/css/reset.css")
                link(rel="stylesheet", href="/static/css/style.css")
            block head-javascripts
    body
        include includes/main-nav
        block body
            article
                include rule/list
            section
                include rule/create
